apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{APP}}-s3
  namespace: {{NAMESPACE}}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: {{APP}}-s3
  data:
    - secretKey: accessKey
      remoteRef:
        key: secret/workloads/{{GROUP}}/{{APP}}
        property: s3_access_key
    - secretKey: secretKey
      remoteRef:
        key: secret/workloads/{{GROUP}}/{{APP}}
        property: s3_secret_key