apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{GROUP}}-{{APP}}
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "90"
    argocd.argoproj.io/depends-on: postgres-cluster,redis,minio,cert-manager
spec:
  project: workloads
  sources:
    - repoURL: {{CHART_REPO}}
      targetRevision: {{CHART_REVISION}}
      path: {{CHART_PATH}}
{{GITOPS_HELM_SETTINGS}}
    - repoURL: {{REPO_URL}}
      targetRevision: {{TARGET_REVISION}}
      path: workloads/{{GROUP}}/{{APP}}
      directory:
        exclude: "{app.yaml,.secret-seed,gitops-app.yaml,vault/*,*.tmpl}"
  destination:
    server: https://kubernetes.default.svc
    namespace: {{NAMESPACE}}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m