apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{APP}}-route
  namespace: {{NAMESPACE}}
spec:
  parentRefs:
    - name: platform-gateway
      namespace: kube-system
      sectionName: https-{{APP}}
  hostnames:
    - {{HOSTNAME}}
  rules:
    - backendRefs:
        - name: {{APP}}
          port: {{GATEWAY_PORT}}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{APP}}-cert
  namespace: kube-system
spec:
  secretName: {{APP}}-cert
  issuerRef:
    name: atlas-ca-issuer
    kind: ClusterIssuer
  dnsNames:
    - {{HOSTNAME}}
