apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{APP}}-infra
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "90"
    argocd.argoproj.io/depends-on: cloudnativepg-operator, cloudnativepg-barman-plugin, minio
spec:
  project: workloads
  source:
    repoURL: https://github.com/aldoshkineg/atlas-idp.git
    targetRevision: main
    path: workloads/{{GROUP}}/{{APP}}
  directory:
    recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: {{NAMESPACE}}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 10
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m