# Mapping for {{GROUP}}/{{APP}} workload secrets
# Format: <vault-path> <key>=<ENV_VAR_NAME>
# Add your env vars below following the VL_{{GROUP}}_{{APP}}_* convention
secret/workloads/{{GROUP}}/{{APP}}  db_password=VL_{{GROUP_UC}}_{{APP_UC}}_DB_PASSWORD
secret/workloads/{{GROUP}}/{{APP}}  s3_access_key=VL_{{GROUP_UC}}_{{APP_UC}}_S3_ACCESS_KEY
secret/workloads/{{GROUP}}/{{APP}}  s3_secret_key=VL_{{GROUP_UC}}_{{APP_UC}}_S3_SECRET_KEY
secret/workloads/{{GROUP}}/{{APP}}  redis_password=VL_{{GROUP_UC}}_{{APP_UC}}_REDIS_PASSWORD
