apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{APP}}-db
  namespace: {{NAMESPACE}}
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: {{APP}}-db
  data:
    - secretKey: username
      remoteRef:
        key: secret/workloads/{{GROUP}}/{{APP}}
        property: db_username
    - secretKey: password
      remoteRef:
        key: secret/workloads/{{GROUP}}/{{APP}}
        property: db_password