apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: {{APP}}-db-backup
  namespace: {{NAMESPACE}}
spec:
  configuration:
    destinationPath: s3://cnpg-backups/
    endpointURL: http://minio.minio.svc.cluster.local:9000
    s3Credentials:
      accessKeyId:
        key: ACCESS_KEY_ID
        name: {{APP}}-db-backup
      secretAccessKey:
        key: ACCESS_SECRET_KEY
        name: {{APP}}-db-backup
    wal:
      compression: gzip
      maxParallel: 2
  retentionPolicy: 7d